[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-mistralai = "*"
langchain-pinecone = "*"
langchain-community = "*"
pinecone-client = "*"
langchainhub = "*"
python-dotenv = "*"
tenacity = "==8.3.0"
streamlit = "*"
streamlit-navigation-bar = "*"
hydralit = "*"
streamlit-option-menu = "*"
pymongo = "*"
torch = "*"
pandas = "*"
plotly = "*"

[dev-packages]

[requires]
python_version = "3.11"
